form{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
button{ 
    background-color: red;
}
body{ 
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center ;
    
}
