*{
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cordefundo{
    display: flex;
    background-color: rgba(102, 66, 66, 0.699);
    color: rgb(241, 238, 238);
    border-radius: 100px;
    padding: 30px;
    gap: 10px;
  
}
.text-grande{
    font-size: 90px;
}
.um{ 
  
}
h2{
    text-align: center;
}
h3{
    text-align: center;
} 
.margin{
    margin-bottom: 10px;
}
.text-medio{
    font-size: 30px;
}
.text-medi{
    font-size: 30px ;
}
h3{
    text-align: center;
}

