*{
    margin: 0;
}
.cordefundo{
    display: flex;
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    border-radius: 100px;
    padding: 30px;
 
}
.text-grande{
    font-size: 100px;
}
.um{ 
  
}
