body {
  color: #333333;
  font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

h1 {
  font-family: serif;
  background-image: url(./mirrorfashion/img/sobre-background.jpg);
}

h2 {
  font-family: sans-serif;
}

p {
  font-family: monospace;
  text-align: right;
}

header {
  position: relative;
}

.sacola {
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;

  width: 140px;
  font-size: 14px;
  padding-right: 35px;
  padding-top: 8px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 0;
}

.menu-opcoes ul {
  font-size: 15px;
}

.menu-opcoes a {
  color: #003366;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}

.menu-opcoes {
  position: absolute;
  bottom: 0;
  right: 0;
}
.busca,
.menu-departamentos {
  float: left;
  background-color: #DCDCDC;
  font-weight: bold;
  text-transform: uppercase;

  margin-right: 10px;
  width: 230px;
}
.busca h2,
.busca form,
.menu-departamentos h2{
  margin: 10px;
}

.menu-departamentos li {
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.menu-departamentos a {
color: #333333;
text-decoration: none;
}
.busca input[type=search] {
  width: 170px;
}
.menu-departamentos {
  clear:left;
}